<div class="jumbotron">
    <h1>Office Management System</h1>
    <p class="lead">Now Manage and Maintain your OFFice More Easily </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Total Cost In a Month is Countable With A Button Click !!</h2>
        <p>Now Manage Your company's Total Cost Of a Month just with a button click. You Don't have to deal with large amount of papers. </p>
    </div>
    <div class="col-md-4">


        <h2>Get Updated With List of Employees and Clarks</h2>

        <p>Now get Your Company's Employee and Clark List More Easily.Get Their Salary And Total Salary Just with Button's Click</p>
    </div>
    <div class="col-md-4">
        <h2>Manage  your Company's Task Is Now More Quickly</h2>
        <p>Manage your company's Task More Quickly And Find your Profit Now In just A few Seconds</p>
    </div>
</div>
